body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.map-selected {
  fill: #E3DA37;
}

.map-unselected {
  fill: #699EAA;
}

.map-selected:hover, .map-unselected:hover {
  cursor: pointer;
}
